{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy JobForm %}

{% block content %}

   <!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Post Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container mt-4">
        <form class="form" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
</div>

{% endblock content %}